body{
    background-color: rgb(255, 200, 0);
    font-size: 20px;
}
ion-title{
    background-color: rgb(255, 200, 0); 
    color: white;
    font-size: 25px;
}

div{
    background-color: white;
    
}
p{
    font-size: 15px; 
    background-color: rgb(80, 28, 128); 
    color: white;
    text-align: center;
}
li{
    font-size: small;
}
