<body>
  
<ion-header >
  <ion-toolbar>
    <ion-title >
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>



  <img [src] ='img' height="250">
  <div>
    <p>Author: Muhammad Ahsan</p>
    <p style="font-size: 25px;">Welcome to My book List app!
    </p>
    <ul>
      <li>Tab - Search</li>
      <ul>
      <li>Search your favourite books</li>
      <li>Check out the details of each book</li>
    </ul>
      <li>Tab - Read List </li><ul>
        <li>Add it to the reading list, in local storage <br>where 
          it stores your saved books</li>
        <li>Go to Read list tab to check out your list</li>
        <li>Remove one or all book from the read list</li>
      </ul>
      <li>Tab - Rate Tab</li><ul>
      <li>Go to the rate tab to rate the book on your <br>
        read list! Maybe leave a comment :) </li>
        <br>
    </ul>
    </ul>
  </div>
  

</body>
