ion-title {
    background-color: rgb(255, 200, 0);
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 35px;
}

    ion-item{
        padding-top: 15px;
        padding-bottom: 15px;
    }
