ion-card{
    background-color: rgb(157, 0, 255);
    color: white;
    
}

ion-card-title{
    color: white;
    font-size: 40px;
}

ion-card-subtitle{
   color:  rgb(255, 200, 0);
   font-size: 15px;
}
ion-label{
    color: white;
}
.subj{
    color: white;
}
